$black: #000;
$white: #fff;
$blue: #2d89ec;
$dark-purple: #311e3e;
$dark-pink: #87314e;
$gray: #efefef;
$light-gray: #999999;
$lighten-gray: #d9d9d9;
$dark-gray: #3e3e40;

$light-blue: #3989e4;
$lighten-blue: #31cab6;
$lighten-red: #de6e73;