<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}" class="author-img">
  <div class="author-desc">
    <h2>{{site.author}}</h2>
    <p>{{site.about-author}}</p>
    <ul>
      {% if site.github %}
        <li class="github"><a href="http://github.com/{{site.github}}" title="github 저장소" target="_blank"><i class="fa fa-github"></i></a></li>
      {% else %}
        <li class="github"><a href="http://github.com/chayeoi" title="github 저장소" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.facebook %}
        <li class="facebook"><a href="https://facebook.com/{{site.facebook}}" title="facebook 링크" target="_blank"><i class="fa fa-facebook"></i></a></li>
      {% else %}
        <li class="facebook"><a href="https://facebook.com/" title="facebook 링크" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.instagram %}
        <li class="instagram"><a href="https://instagram.com/{{site.instagram}}" title="instagram 링크" target="_blank"><i class="fa fa-instagram"></i></a></li>
      {% else %}
        <li class="instagram"><a href="https://instagram.com/" title="instagram 링크" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}
      <!-- {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %} -->
      <!-- {% if site.phone %}
        <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a></li>
      {% else %}
        <li class="phone"><a href="tel:044 825 5523"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      {% endif %} -->
      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" title="포트폴리오 페이지" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"><a href="chayeoi.creatorlink.net" title="포트폴리오 페이지" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}
      <!-- {% if site.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% else %}
        <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %} -->
    </ul>
  </div>
</section>